[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
gunicorn = "*"
python-decouple = "*"
python-dotenv = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
